<%-include("header")-%>
<main id="contactpage">
    <div class="contactTag">
        <h2 class="text-dark">Let me how I can be of any help to you.</h2>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 subscribe">
            <h4 class="text-secondary"><span>
                    <img id="mailimg" src="/assets/envelope.png" alt="">

                </span> GET IN TOUCH, WRITE TO ME </h4>
            <%-formOrmsg-%>
        </div>
        &nbsp;
       
</main>
<%-include("footer")-%>