<%-include("header")-%>
<main id="contactpage">
    <div class="contactTag">
        <h2 class="text-muted">Let me how I can be of any help to you.</h2>
    </div>

    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 subscribe">
            <h4 class="text-secondary"><span>
                    <img id="mailimg" src="/assets/envelope.png" alt="">

                </span> GET IN TOUCH, WRITE TO ME </h4>
            <%-formOrmsg-%>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 phoneAdd container-fluid">
            <h4 class="text-muted"><span>
                    <img id="phoneimg" src="/assets/intelligence.png" alt="">

                </span> PHONE </h4>
            <h5 class="numbers">+91 8447175963</h5>
            <h5 class="numbers">+91 7292079644</h5>
            <h5 class="numbers">+91 7838608236</h5>
            <br>
            <br>
            <h4 class="text-muted"><span>
                    <img id="phoneimg" src="/assets/social-media.png" alt="">

                </span> SOCIAL </h4>
            <a href="https://twitter.com/jainwal_saurabh"> <img id="socialimg" src="/assets/t2.png" alt=""></a>
            <button id="wts" data-toggle="popover" title="+91 7292079644"
                data-content="And here's some amazing content. It's very engaging. Right?"> <img id="socialimg"
                    src="/assets/whatsapp.png" alt=""></button>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-11 col-md-12 col-md-12 googleMap">
            <h5 class="text-muted"><span>
                    <img id="mapimg" src="/assets/location.png" alt="">

                </span>LOOK FOR ME ON THE MAPS.</h5>

            <div>
                <h3 class="alternateText text-info">
                    Sorry!! This portion is under maintainance.
                </h3>
            </div>
            <!-- <div id="googleMap" style="width:100%;height:400px;"></div>

            <script>
                function initMap() {
                    var mapProp = {
                        center: new google.maps.LatLng(51.508742, -0.120850),
                        zoom: 5,
                    };
                    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                }
            </script>

            <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDA80XEp9plFZDK_0LrzTOtkCgAZQj1_7c&callback=initMap"
                type="text/javascript"></script> -->
        </div>
    </div>
</main>
<%-include("footer")-%>