@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Trochut&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poiret+One|Sacramento|Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body::-webkit-scrollbar {
  width: .8em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

#afterBody {
  padding-left: 18%;
  padding-right: 17%;
  background-color: #f7f7f7;
}

header {
  transition: margin 0.5s linear;
  -webkit-transition: margin 0.5s linear;
  -ms-transition: margin 0.5s linear;
}

header nav .brand {
  font-family: "Fredoka One", cursive;
  font-size: 1.1rem;
  color: #222831;
  font-weight: normal;
  letter-spacing: 2px;
  border: none;
  padding-top: 8%;
  background-color: transparent;
}

header nav .btns {
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: line-through;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent;
  -webkit-text-decoration-colort: transparent;
  -ms-text-decoration-colort: transparent;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  border: none;
  background-color: transparent;
}

header nav .brand:after {
  content: "";
  width: 0px;
  height: 3px;
  display: block;
  background: #fdb827;
  transition: 0.8s;
  -webkit-transition: 0.8s;
}

header nav .brand:hover {
  cursor: pointer;
}

header nav .brand:hover:after {
  width: 98%;
}

header nav .brand:focus {
  outline: none;
}

header nav .btns:after {
  content: "";
  width: 0px;
  height: 3px;
  display: block;
  background: #fdb827;
  transition: 0.8s;
  -webkit-transition: 0.8s;
}

header nav .btns:hover {
  cursor: pointer;
}

header nav .btns:hover:after {
  width: 98%;
}

header nav .btns:focus {
  outline: none;
}

header .navbar-toggler {
  margin-top: 0;
  height: 30px;
  width: 40px;
}

header .navbar-toggler-icon {
  height: 15px;
  width: 15px;
}

header .navbar-toggler:focus {
  text-decoration: none;
}

#mainarea {
  padding-top: 6%;
  padding-bottom: 20px;
  background-color: #fdb827;
  transition: margin 1.5s ease,width 0.8s linear;
  -webkit-transition: margin 1.5s ease,width 0.8s linear;
  -ms-transition: margin 1.5s ease,width 0.8s linear;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: transparent;
}

#mainarea .card-title {
  font-family: "Fredoka One", cursive;
  font-size: 1.5rem;
}

#mainarea .card {
  padding: 10%;
  margin-bottom: 10%;
  background-color: whitesmoke;
  border-style: solid;
  border-radius: 10px;
  border-width: 0px;
  border-color: black;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  color: black;
}

#mainarea .card .card-text {
  font-family: "Fredoka One", cursive;
  font-size: 1rem;
  color: black;
}

#mainarea .card .cardbtn {
  font-family: "Fredoka One", cursive;
  font-size: auto;
  color: auto;
  font-weight: bolder;
}

#mainarea .card form {
  margin: 0;
  padding: 0;
}

#mainarea .card:hover {
  -webkit-box-shadow: 15px 15px 10px -10px black;
          box-shadow: 15px 15px 10px -10px black;
}

#contactpage {
  -webkit-transition: margin 0.7s linear;
  transition: margin 0.7s linear;
  background-color: #7da87b;
  padding: 30px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: transparent;
}

#contactpage h2 {
  font-family: "Fredoka One", cursive;
  margin-bottom: 60px;
  color: black;
}

#contactpage h4 {
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  color: #393e46;
  font-weight: bold;
  padding-bottom: 10px;
}

#contactpage .subscribe {
  border-style: solid;
  border-radius: 10px;
  border-width: 0px;
  border-color: black;
  text-align: center;
  padding: 10px;
  -webkit-box-shadow: 20px 18px 10px -10px #777;
          box-shadow: 20px 18px 10px -10px #777;
  -webkit-transition: -webkit-box-shadow 0.8s ease-in;
  transition: -webkit-box-shadow 0.8s ease-in;
  transition: box-shadow 0.8s ease-in;
  transition: box-shadow 0.8s ease-in, -webkit-box-shadow 0.8s ease-in;
  background-color: whitesmoke;
}

#contactpage .subscribe #emailId {
  font-family: "Fredoka One", cursive;
  font-size: 1rem;
  color: black;
  font-weight: bold;
  width: 90%;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: black;
  border-bottom-width: 2px;
}

#contactpage .subscribe #emailId:focus {
  border-top-style: none;
  outline: none;
}

#contactpage .subscribe #messagearea {
  font-family: "Fredoka One", cursive;
  font-size: 1rem;
  color: black;
  font-weight: lighter;
  height: 200px;
  width: 90%;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
}

#contactpage .subscribe #messagearea:focus {
  outline: none;
}

#contactpage .subscribe #mailimg {
  height: 30px;
  width: 30px;
}

#contactpage .subscribe .text-success {
  font-family: "Fredoka One", cursive;
}

#contactpage .subscribe .text-danger {
  font-family: "Fredoka One", cursive;
}

#contactpage .submitbtn {
  font-family: "Fredoka One", cursive;
  font-size: 1rem;
  color: auto;
  font-weight: bold;
}

#contactpage .phoneAdd {
  font-family: "Fredoka One", cursive;
  font-size: 1rem;
  color: auto;
  font-weight: bold;
  border-style: solid;
  border-radius: 10px;
  border-width: 0px;
  border-color: black;
  background-color: whitesmoke;
  text-align: center;
  padding: 10px;
  -webkit-box-shadow: 20px 18px 10px -10px #777;
          box-shadow: 20px 18px 10px -10px #777;
}

#contactpage .phoneAdd .numbers {
  font-family: "Fredoka One", cursive;
  font-size: 1rem;
  color: auto;
  font-weight: bold;
}

#contactpage .phoneAdd #phoneimg {
  height: 35px;
  width: 35px;
}

#contactpage .phoneAdd #socialimg {
  height: 35px;
  width: 35px;
  -webkit-transition: height 0.2s ease-in,width 0.2s ease-in;
  transition: height 0.2s ease-in,width 0.2s ease-in;
}

#contactpage .phoneAdd #socialimg:hover {
  cursor: pointer;
  height: 39px;
  width: 39px;
}

#contactpage .phoneAdd #wts {
  border: none;
  background-color: transparent;
}

#contactpage .contactTag {
  text-align: center;
}

#contactpage .contactTag h2 {
  font-size: 1.3rem;
}

#contactpage .googleMap {
  margin-top: 30px;
  border-style: solid;
  border-radius: 10px;
  border-width: 0px;
  border-color: black;
  background-color: whitesmoke;
  text-align: center;
  padding: 10px;
  -webkit-box-shadow: 20px 18px 10px -10px #777;
          box-shadow: 20px 18px 10px -10px #777;
}

#contactpage .googleMap h5 {
  font-family: "Fredoka One", cursive;
  font-size: 1rem;
  color: black;
  font-weight: bold;
}

#contactpage .googleMap #mapimg {
  height: 30px;
  width: 30px;
}

#contactpage .alternateText {
  font-family: "Fredoka One", cursive;
  font-size: 0.9rem;
}

.footer {
  padding-top: 2%;
  padding-bottom: 10%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f7f7f7;
  -webkit-transition: margin 1s ease-in;
  transition: margin 1s ease-in;
  border-style: none;
  border-radius: 5px;
  border-width: 0px;
  border-color: transparent;
}

.footer h1 {
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  color: grey;
  font-weight: normal;
  -webkit-transition: font-size 0.5s linear;
  transition: font-size 0.5s linear;
}

.footer .icons {
  height: 20px;
  width: 20px;
}

.footer .icons:hover {
  height: 21px;
  width: 21px;
  cursor: pointer;
}

@media only screen and (max-width: 400px) {
  #afterBody {
    padding-left: 3.2%;
    padding-right: 5%;
  }
  #mainarea {
    background-color: #fdb827;
  }
  .brand {
    font-family: "Roboto", sans-serif;
    font-size: 4rem;
    color: black;
    font-weight: normal;
  }
  .card {
    margin-left: 4%;
  }
  .subscribe {
    background-color: #f8f7de;
  }
}
/*# sourceMappingURL=main.css.map */