//font imports
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Trochut&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Sacramento|Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
//all variables

$mainareaColor:#7da87b;
$contactColor:#7da87b;
$newcardbckcolor:whitesmoke;
$afterbodyColor:#f7f7f7;
$newNameColor :#222831;
$defaultFontFamily: "Inconsolata", monospace;
$newCardfont : 'Fredoka One', cursive; 
$newNamefont : 'Nerko One', cursive;
$newNamefont2: 'Roboto', sans-serif;
//all mixins
@mixin fontStyles($size, $color, $weight, $fontfam) {
  font-family: $fontfam;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}

@mixin borderStyles($style, $radius, $width, $color) {
  border-style: $style;
  border-radius: $radius;
  border-width: $width;
  border-color: $color;
}

//mixins ends//
//body 


body::-webkit-scrollbar {
  width: .8em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
border-radius: 10px;
}

//background
#afterBody {
  padding-left:18%;
  padding-right:17%;
  background-color: $afterbodyColor;
  //background-image: url("/css/11.png");
}
//header view only
header {
  transition: margin 0.5s linear;
  -webkit-transition:  margin 0.5s linear;
  -ms-transition:  margin 0.5s linear;
  nav {
    .brand {
      @include fontStyles(1.1rem, $newNameColor, normal,$newCardfont);
      letter-spacing: 2px;
      border: none;
      padding-top: 8%;
      background-color: transparent;
    }

    .btns {
      @include fontStyles(1rem, black, bold,$defaultFontFamily);
      letter-spacing: 2px;
      text-decoration: line-through;
      text-decoration-color: transparent;
      -webkit-text-decoration-colort:transparent;
      -ms-text-decoration-colort:transparent;
      transition: 0.5s;
      -webkit-transition: 0.5s ;
      border: none;
      background-color: transparent;
    }
    // .btns:hover {
    //   text-decoration-color: $bgcolor;
    //   cursor: pointer;
    // }
  
    .brand:after {
      content: "";
      width: 0px;
      height: 3px;
      display: block;
      background: black;
      transition: 0.8s;
      -webkit-transition: 0.8s ;
    }
    .brand:hover {
      cursor: pointer;
    }
    .brand:hover:after {
      width: 100%;
    }
    .brand:focus{
      outline: none;
    }
    .btns:after {
      content: "";
      width: 0px;
      height: 3px;
      display: block;
      background: black;
      transition: 0.8s;
      -webkit-transition: 0.8s ;
    }
    .btns:hover {
      cursor: pointer;
    }
    .btns:hover:after {
      width: 100%;
    }
    .btns:focus{
      outline: none;
    }
  }
  .navbar-toggler{
    margin-top: 0;
    height: 30px;
    width: 40px;;
  }
  .navbar-toggler-icon{
    height: 15px;
    width: 15px;;
    
  }
  .navbar-toggler:focus {
    text-decoration: none;
  }
}
//aboutme page view only


#mainarea {
  padding-top: 6%;
  padding-bottom: 20px;
  background-color: $mainareaColor;
  transition: margin 1.5s ease,width 0.8s linear;
  -webkit-transition:  margin 1.5s ease,width 0.8s linear;
  -ms-transition:  margin 1.5s ease,width 0.8s linear;
  @include borderStyles(solid, 10px, 1px, transparent);
.card-title {
 font-family: $newCardfont;
   font-size: 1.5rem;;
  }
  .card {
    padding: 10%;
    margin-bottom: 10%;
    background-color:$newcardbckcolor;
    @include borderStyles(solid, 10px, 0px, black);
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    color: black;
      .card-text{
        
       font-family:$newCardfont;
       font-size: 1rem;
       color: black;
      }
      .cardbtn{
     @include fontStyles(auto,auto ,bolder,$newCardfont)
      }
      form{
        margin: 0;
        padding: 0;;
      }
    }
  .card:hover {
     
    box-shadow: 15px 15px 10px -10px black;

  }
  
 


}


//contact me page view
#contactpage{
  transition: margin 0.7s linear;
  background-color:$contactColor ;
  padding: 30px;
  @include borderStyles(solid,10px ,1px ,transparent );
  h2{
    font-family: $newCardfont;
    margin-bottom: 60px;
    color: black;
  }
  h4{
    @include fontStyles(1rem,#393e46,bold,$defaultFontFamily); 
    padding-bottom: 10px;;
  }
  .subscribe{
    @include borderStyles(solid,10px ,0px ,black );
    text-align: center;
    padding: 10px;
    box-shadow: 20px 18px 10px -10px #777;
    transition: box-shadow 0.8s ease-in;
    background-color: whitesmoke;
  #emailId{
    @include fontStyles(1rem,black,bold,$newCardfont );
    width: 90%;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right:none ;
    border-bottom-color: black;
    border-bottom-width: 2px;;
  
  }
#emailId:focus{
border-top-style: none;
outline: none;
}
       #messagearea{
        @include fontStyles(1rem,black,lighter,$newCardfont );
      height: 200px;
      width: 90%;
      @include borderStyles(solid,10px ,2px ,black);
      }
           #messagearea:focus{
              outline: none;
                }
            #mailimg{ 
              height: 30px;
              width: 30px;;
                  }

.text-success{
  font-family: $newCardfont;
}
.text-danger{
  font-family: $newCardfont;
}
  }


.submitbtn{
  @include fontStyles(1rem,auto,bold,$newCardfont );

}
.phoneAdd{
  @include fontStyles(1rem,auto,bold,$newCardfont );
  @include borderStyles(solid,10px ,0px ,black );
  background-color:whitesmoke;
  text-align: center;
  padding: 10px;
  box-shadow: 20px 18px 10px -10px #777;
.numbers{
  @include fontStyles(1rem,auto ,bold,$newCardfont )
}
  #phoneimg{
    height: 35px;
    width: 35px;;
    }
    #socialimg{
      height: 35px;
      width: 35px;;
      transition: height 0.2s ease-in,width 0.2s ease-in;
    }
    #socialimg:hover{
cursor: pointer;
height: 39px;
width: 39px;;
    }
    #wts{
      border:none;
       background-color:transparent;
    }
}
.contactTag{
  text-align: center;
  h2{
    font-size: 1.3rem;

  }

}
.googleMap{
  margin-top: 30px;
  @include borderStyles(solid,10px ,0px ,black );
  background-color:whitesmoke;
  text-align: center;
  padding: 10px;
  box-shadow: 20px 18px 10px -10px #777;
  h5{
    @include fontStyles(1rem,black,bold,$newCardfont );
  }
  #mapimg{
    height: 30px;
    width: 30px;;
  }
}
.alternateText{
  font-family: $newCardfont;
  font-size: 0.9rem;
}
}
//footer view only
.footer {
    padding-top: 2%;
    padding-bottom: 10%;
   text-align: center;
  justify-content: center;
  background-color: $afterbodyColor;
  transition: margin 1s ease-in;
  @include borderStyles(none, 5px, 0px,transparent);
  h1 {
    @include fontStyles(1rem,grey ,normal,$defaultFontFamily );
    transition: font-size 0.5s linear;
  }
  
.icons{
  height: 20px;
  width: 20px;
}
.icons:hover{
height: 21px;
width: 21px;
cursor: pointer;
}

}


@media only screen and (max-width: 400px) {
  #afterBody {
    padding-left:3.2%;
    padding-right:5%;
    //background-image: url("/css/11.png");
  }
  #mainarea{
    background-color: $mainareaColor;
  }
  .brand{
    @include fontStyles(4rem,black ,normal,$newNamefont2 )
  }
  .card{
    margin-left: 4%;
  }
  .subscribe{
    background-color:#f8f7de;
  }
}